:root {
  --primary-color: #6a11cb;
  --secondary-color: #f472b6;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  position: relative;
  overflow: hidden;
  color: white;
  font-family: "Orbitron", sans-serif;
}

body::before, body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

body::before {
  width: 300px;
  height: 300px;
  background: var(--primary-color);
  top: 180px;
  left: 180px;
}

body::after {
  width: 220px;
  height: 220px;
  background-color: var(--secondary-color);
  bottom: 180px;
  right: 180px;
}

.container {
  text-align: center;
  padding: 3rem 4rem;
  width: 50ch;
  border-radius: 2rem;
  background-color: rgba(40, 40, 40, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.time-units {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 5rem;
  font-weight: 700;
}

.time-unit {
  border-radius: 2rem;
  background-color: rgba(40, 40, 40, 0.45);
  padding: 1rem 1.5rem;
  width: 6ch;
}

.time-separator {
  font-size: 1.2em;
  align-self: center;
}

.format-toggle {
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10px;
  align-self: center;
  background: transparent;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color);
}

.current-date {
  margin-top: 20px;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  body::before {
    width: 150px;
    height: 150px;
    top: 90px;
    left: 90px;
  }
  body::after {
    width: 110px;
    height: 110px;
    bottom: 90px;
    right: 90px;
  }
  .container {
    width: 30ch;
    padding: 1rem 2rem;
  }
  .time-units {
    font-size: 2rem;
    font-weight: 300;
  }
  .time-unit {
    width: 1ch;
    padding: 0.5rem 0.75rem;
  }
  .time-separator {
    display: none;
  }
  .format-toggle {
    padding: 5px;
    font-size: 1rem;
  }
}